<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'beers')}"
      lang="en">

<head>
    <title>Beer Details</title>
</head>

<body>

<h2>Beer Information</h2>

<table class="table table-striped" th:object="${beer}">
    <caption>Beer Attributes</caption>
    <thead>
    <tr>
        <th id="name">Name</th>
        <th id="style">Style</th>
        <th id="price">Price</th>
        <th id="minOnHand">Min on Hand</th>
        <th id="quantity">Quantity to Brew</th>
    </tr>
    </thead>
    <tr>
        <th id="name">Name</th>
        <td><strong th:text="*{beerName}"></strong></td>
    </tr>
    <tr>
        <th id="style">Style</th>
        <td th:text="*{beerStyle}"/>
    </tr>
    <tr>
        <th id="price">Price</th>
        <td th:text="*{price}"/>
    </tr>
    <tr>
        <th id="minOnHand">Min on Hand</th>
        <td th:text="*{minOnHand}"/>
    </tr>
    <tr>
        <th id="quantity">Quantity to Brew</th>
        <td th:text="*{quantityToBrew}"/>
    </tr>
</table>

<a th:href="@{{id}/edit(id=${beer.id})}" class="btn btn-default">Edit Beer</a>

<br/>
<br/>
<br/>
<h2>Beer Inventory</h2>

<table class="table table-striped">
    <caption>Brewery Inventory</caption>
    <thead>
    <tr>
        <th id="name">Name</th>
    </tr>
    </thead>
    <tr th:each="beerInventory : ${beer.beerInventory}">
        <td>
            <dl class="dl-horizontal">
                <dt>Quantity on Hand</dt>
                <dd th:text="${beerInventory.quantityOnHand}"/>
            </dl>
    </tr>
</table>

</body>

</html>
