<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'customers')}"
      lang="en">

<head>
    <title>Customer Details</title>
</head>

<body>

<h2>Customer Information</h2>

<table class="table table-striped" th:object="${customer}">
    <caption>Customer Details</caption>
    <tr>
        <th id="name">Name</th>
        <td><strong th:text="*{customerName}"></strong></td>
    </tr>
    <tr>
        <th id="registerOn">Registered On</th>
        <td th:text="*{createdDate}"/>
        </td>
    </tr>

</table>

<a th:href="@{{id}/edit(id=${customer.id})}" class="btn btn-default">Edit Customer</a>

</body>

</html>
