<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'customers')}"
      lang="en">

<head>
    <title>Customer List</title>
</head>

<body>

<h2>Owners</h2>

<table id="vets" class="table table-striped">
    <caption>Customer List</caption>
    <thead>
    <tr>
        <th id="name" style="width: 150px;">Customer Name</th>
        <th id="regDate" style="width: 150px;">Registration Date</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${selections}">
        <td>
            <a th:href="@{/customers/__${customer.id}__}" th:text="${customer.customerName}"/></a>
        </td>
        <td th:text="${customer.createdDate}"/>

    </tr>
    </tbody>
</table>

</body>
</html>
